<!-- Added by Ranjeet -->
{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <a href="{% url 'survey:startStopSession' %}">
            <button type="button">Start Session</button>
        </a>
        <a href="{% url 'survey:downloadCSV' %}", style="margin-left: 15px;" >
            <button type="button" id="downloadCSV">Stop Session/Download CSV</button>
        </a>

        <form method="POST" action="/insertDataInTable/">
            {% csrf_token %}
        <input type="number" name="Depth" placeholder="Enter the Depth" max="20"/>
        <input type="number" name="Number" placeholder="Enter the Nodes" max="10"/>
        <select name="table_name" id="table_name">
            <option value="T2">T2</option>
            <option value="T1_L">T1_L</option>
            <option value="T1_R">T1_R</option>
            <option value="C0">C0</option>
            <option value="C0_R">C0_R</option>
            <option value="C0_L">C0_L</option>
        </select>
        <input type="submit" value="Submit"/>
        </form>
    </div>
    <br />
    <script>
        document.getElementById("downloadCSV").addEventListener("click", function() {
            console.log("RELOADING")
            // location.reload();
            window.location.reload(true);
        });
    </script>
    
    {{ block.super }}
{% endblock %}