aioredis==1.3.1

amqp==5.0.9

apscheduler==3.8.1

asgiref==3.4.1

async-timeout==4.0.2

attrs==21.4.0

autobahn==21.11.1

automat==20.2.0

billiard==3.6.4.0

black==22.1.0

celery==5.2.3

certifi==2021.10.8

cffi==1.15.0

channels==3.0.4

channels-redis==3.3.1

charset-normalizer==2.0.12

click==8.0.4

click-didyoumean==0.3.0

click-plugins==1.1.1

click-repl==0.2.0

colorama==0.4.4

constantly==15.1.0

cryptography==36.0.1

daphne==3.0.2

deprecated==1.2.13

dj-database-url==0.5.0

django==4.0

django-background-tasks==1.2.5

django-compat==1.0.15

django-crontab==0.7.1

gunicorn==20.1.0

hiredis==2.0.0

hyperlink==21.0.0

idna==3.3

incremental==21.3.0

kombu==5.2.3

msgpack==1.0.3

mypy-extensions==0.4.3

packaging==21.3

pathspec==0.9.0

platformdirs==2.5.1

prompt-toolkit==3.0.28

psycopg2-binary==2.9.3

pyasn1==0.4.8

pyasn1-modules==0.2.8

pycparser==2.21

pyopenssl==21.0.0

pyparsing==3.0.7

pytz==2021.3

pytz-deprecation-shim==0.1.0.post0

redis==4.1.4

requests==2.27.1

service-identity==21.1.0

setuptools==59.6.0

six==1.16.0

sqlparse==0.4.2

tomli==2.0.1

twisted==21.7.0

txaio==21.2.1

typing-extensions==4.0.1

tzdata==2021.5

tzlocal==4.1

urllib3==1.26.8

vine==5.0.0

wcwidth==0.2.5

whitenoise==6.0.0

wrapt==1.13.3

zope.interface==5.4.0
